/* --------------- Box Sizing --------------- */
html, input[type="search"]{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }
/* ------------- Float Clearing ------------- */

.clearfix:before,
.nav-primary:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-main:before,
.wrap:before {
	content: " ";
	display: table;
}
.clearfix:after,
.nav-primary:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-main:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}
/* ------------------ Main ------------------ */
body {
	color: #333;
	font-family: 'Raleway', sans-serif;	
	font-size: 16px;
}
p {
	color: #8c9398;
	word-spacing: 1px;
	line-height: 25px;
}
ol, ul, figure {
	margin: 0;
	padding: 0;
}
img {
	width: auto;
	max-width: 100%;
	height: auto;
	border: 0;
}
a {
	color: #353535;
	text-decoration: none;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
a:hover, a:focus { color: #3dc9b3; }
.wrap {
	max-width: 1102px;
	margin: 0 auto;
	position: relative;
}
.dark-bg { background-color: #f3f5f8; }
.section-padding {
	padding: 90px 0 100px;
	text-align: center;
}
.seperator {
	line-height: 0;
	padding: 16px 0;
}
.seperator span {
	background: #ccc;
	display: inline-block;
	height: 2px;
	width: 100px;
}
.title {
	font-size: 40px;
	letter-spacing: -2px;
	margin: 0;
	text-transform: uppercase;
}
.subtitle {
	color: #666;
	font-size: 22px;
	font-weight: 300;
	letter-spacing: 0.88px;
	margin: 5px 0 80px;
}
.col-3 {
	float: left;
	width: 32%;
}
.col-3.middle { margin: 0 2%; }
h5::after {
	content: "";
	border: solid 2px #3dc9b3;
	display: block;
	width: 35px;
	margin: 15px auto;
}
.overlay-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	display: none;
}
.show { display: block; }
/* header */
.site-header {
	position: fixed;
	width: 100%;
	z-index: 9999;
}
.logo { float: left; }
.logo a {
	background-color: #fff;
	border-radius: 50%;
	color: #333;
	padding: 5px 20px;
	letter-spacing: -2px;
}
.nav-primary { float: right; }
.menu .menu-item {
	display: inline-block;
	margin-top: 40px;
}
.menu a {
	font-size: 13px;
	font-weight: bold;
	padding: 8px 10px;
	text-transform: uppercase;
	color: #fff;
}
.menu a:hover {
	color: #3dc9b3;
}
.site-header.fixed {
	background-color: #fff;
	box-shadow: rgba(0,0,0,.2)0 0 3px;
	-moz-box-shadow: rgba(0,0,0,.2)0 0 3px;
	-webkit-box-shadow: rgba(0,0,0,.2)0 0 3px;
}
.site-header.fixed .menu a { color: #333; }
.site-header.fixed .menu a:hover { color: #3dc9b3; }
.site-header.fixed .logo a {
	background-color: #333;
	color: #fff;
}
.menu .menu-title, .menu .menu-copy { display: none; }
.menu-title {
	font-size: 30px;
	text-transform: uppercase;
}
.responsive-menu-icon {
	cursor: pointer;
	display: none;
	width: auto;
	border: 0;
	background: none;
	outline: none;
	position: relative;
	z-index: 9999;
}
.responsive-menu-icon::before {
	content: "\f0c9";
	display: inline-block;
	font: normal 30px/1 'FontAwesome';
	margin: 0 auto;
	padding: 20px 0 10px;
}
/* home */
#home {
	height: 630px;
	background-color: #333;
	color: #fff;
}
#home .icon::before {
	content: "\f17d";
	font: normal 500px/1 'FontAwesome';
	position: absolute;
	bottom: -200px;
	right: 0;
	opacity: 0.1;
}
#home h2 {
	font-size: 50px;
	padding-top: 150px;
}
#home h4 {
	font-size: 40px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 120px;
}
#home p {
	color: #fff;
	font-size: 14px;
}
.scroll-to {
	border: 2px solid #fff;
	color: #fff;
	width: 40px;
	height: 40px;
	line-height: 38px;
	padding: 0;
	font-size: 22px;
	display: inline-block;
	border-radius: 50%;
}
.scroll-to:hover {
	background: #fff;
	color: #333;
	transform: scale(1.15);
	-ms-transform: scale(1.15);
	-webkit-transform: scale(1.15);
}
/* services */
#services .icon {
	height: 175px;
	width: 175px;
	line-height: 175px;
	background: #3dc9b3;
	border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	color: #fff;
	font-size: 55px;
	margin: 0 auto 50px;
}
.shadow {
	text-shadow: rgb(55, 181, 161) 1px 1px, rgb(55, 181, 161) 2px 2px, rgb(55, 181, 161) 3px 3px, rgb(55, 181, 161) 4px 4px, rgb(55, 181, 161) 5px 5px, rgb(55, 181, 161) 6px 6px, rgb(55, 181, 161) 7px 7px, rgb(55, 181, 161) 8px 8px, rgb(55, 181, 161) 9px 9px, rgb(55, 181, 161) 10px 10px, rgb(55, 181, 161) 11px 11px, rgb(55, 181, 161) 12px 12px, rgb(55, 182, 162) 13px 13px, rgb(55, 183, 163) 14px 14px, rgb(56, 184, 164) 15px 15px, rgb(56, 185, 165) 16px 16px, rgb(56, 186, 166) 17px 17px, rgb(57, 187, 167) 18px 18px, rgb(57, 188, 168) 19px 19px, rgb(57, 189, 169) 20px 20px, rgb(58, 191, 170) 21px 21px, rgb(58, 192, 171) 22px 22px, rgb(58, 193, 172) 23px 23px, rgb(59, 194, 173) 24px 24px, rgb(59, 195, 174) 25px 25px, rgb(59, 196, 175) 26px 26px, rgb(60, 197, 176) 27px 27px, rgb(60, 198, 177) 28px 28px, rgb(60, 199, 178) 29px 29px, rgb(61, 201, 179) 30px 30px;
}
#services h5 {
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
/* about */
.image {
	float: left;
	text-align: left;
	width: 40%;
}
.image .fa {
	font-size: 15em;
	border: 3px solid;
	border-radius: 50%;
	padding: 50px;
	background-color: #fff;
	color: #3dc9b3;
	box-shadow: 0 4px 10px 5px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 4px 10px 5px rgba(0,0,0,0.05);
	-webkit-box-shadow: 0 4px 10px 5px rgba(0,0,0,0.05)
}
.content {
	float: right;
	text-align: justify !important;
	width: 60%;
}
/* work */
#portfolio .fa {
	font-size: 80px;
	line-height: 180px;
}
.imgoverlay {
	position: relative;
	overflow: hidden;
	display: block;
	width: 33.15%;
	height: 180px;
	color: #fff;
	float: left;
	cursor: pointer;
	background-color: #bbe8eb;
	margin: 1px;
}
.imgoverlay .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "alpha(Opacity=0)";
	-webkit-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	-ms-transition: opacity .3s ease;
	transition: opacity .3s ease;
}
.imgoverlay .overlaycolor {
	width: 100%;
	height: 100%;
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	opacity: .8;
	filter: alpha(opacity=80);
	-ms-filter: "alpha(Opacity=80)";
}
.imgoverlay .overlayinfo {
	width: 100%;
	text-align: center;
	display: block;
	position: absolute;
	top: 25%;
	left: 0;
	-webkit-transition: top .3s ease;
	-moz-transition: top .3s ease;
	-o-transition: top .3s ease;
	-ms-transition: top .3s ease;
	transition: top .3s ease;
}
.overlayinfo h6 {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: 300;
}
.overlayinfo a { color: #fff; }
.imgoverlay:hover .overlay {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "alpha(Opacity=100)";
}
.imgoverlay:hover .overlayinfo { top: 30%; }
/* contact */
.light-box {
	background-color: #fff;
	-webkit-box-shadow: 0px 3px 0px 0px #f0f2f4;
	-moz-box-shadow: 0px 3px 0px 0px #f0f2f4;
	box-shadow: 0px 3px 0px 0px #f0f2f4;
	padding: 20px 0;
	cursor: pointer;
}
.light-box:hover, .light-box:focus {
	-webkit-box-shadow: 0px 3px 0px 0px #3dc9b3;
	-moz-box-shadow: 0px 3px 0px 0px #3dc9b3;
	box-shadow: 0px 3px 0px 0px #3dc9b3;
}
.box-hover {
	transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
}
.box-hover:hover, .box-hover:focus {
	transform: translate(0, -15px);
	-webkit-transform: translate(0, -15px);
	-ms-transform: translate(0, -15px);
}
#contact h5 span {
	display: block;
	color: #3dc9b3;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 15px;
}
ul.social-buttons {
	clear: both;
	list-style: none;
	margin: 0;
	padding: 70px 0 0;
}
ul.social-buttons li {
	display: inline-block;
	margin-right: 10px;
}
.social-btn {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	background-color: #333;
	display: inline-block;
	color: #fff;
	line-height: 40px;
	font-size: 20px;
}
.social-btn:hover, .social-btn:focus {
	background-color: #3dc9b3;
	color: #fff;
}
/* footer */
.site-footer {
	background-color: #333;
	text-align: center;
}
.site-footer p {
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
	.wrap { padding: 0 60px; }	
	.col-3, .imgoverlay, .image, .content { width: 100%; }
	.col-3.middle { margin: 20px 0; }
	.title { font-size: 35px; }
	.subtitle { font-size: 20px; margin-bottom: 40px; }
	.section-padding { padding: 60px 0; }
	.image, .content { text-align: center; }
	.image .fa { font-size: 5em; }
	.imgoverlay { height: auto; }
	h1 { font-size: 1.5em; }
	.site-header { height: 60px; }
	#home { height: 425px; }
	#home .icon::before {
		font-size: 350px;
		bottom: -150px;
	}
	#home h2 {
		font-size: 33px;
		padding-top: 70px;
	}
	#home h4 {
		font-size: 25px;
		margin-bottom: 45px;
	}
	#services .icon { margin-bottom: 25px; }
	.responsive-menu-icon { display: inline-block; }
	.responsive-menu-icon.btn-close::before { content: "\f00d"; }
	.responsive-menu {
		background-color: #fff;
		position: fixed;
		right: 0;
		width: 300px;
		top: 0;
		height: 100%;
		padding: 70px 35px;
		overflow: scroll;
		text-align: center;
		display: none;
	}
	.responsive-menu .menu-item {
		display: block;
		margin-top: 30px;
	}
	.menu .menu-title, .menu .menu-copy { display: block; }
	.menu a { font-size: 18px; }
}
@media only screen and (max-width: 400px) {
	.wrap { padding: 0 30px; }
	#home { height: 530px; }
	#home .icon::before {
		font-size: 200px;
		bottom: -80px;
	}
	#home h2 {
		font-size: 34px;
		padding-top: 140px;
	}
	#home h4 {
		font-size: 17px;
		margin-bottom: 80px;
	}
}
